*{
    box-sizing: border-box;
}

body,html{
    margin:0px;
    padding: 0px;
}
.tool-panel{
    height: 70px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}
.tool-bar{
    width: 80%;
    height: 86%;
    border: 1px solid;
    align-self: center;
    display: flex;
}
.hamburger-icon{
    width: 20%;
    height: 86%;
    border: 1px solid;
    align-self: center;
}
.tool-panel{

}
.tool-options{

}
.tool-img{
    height: 100%;
    width: 100%;
    align-self: center;
}
.tool{
    width: 10%;
    height: 100%;
}